.estilo_div1_log{
	position: absolute;
	height: 270px;
	width: 400px;
	left: 45%;
	top: 25%;
	margin-top: -100px;
	margin-left: -150px;
	background-color:#C5DCB7;
	border-radius:30px; 
	-moz-border-radius:30px; /* Firefox */ 
	-webkit-border-radius:30px; /* Safari y Chrome */
}
.estilo_div1_reg{
	position: absolute;
	height: 400px;
	width: 450px;
	right:33%;
	top: 15%;
	margin-top: 10px;
	margin-left: 15px;
	background-color:#C5DCB7;
	border-radius:30px; 
	-moz-border-radius:30px; /* Firefox */ 
	-webkit-border-radius:30px; /* Safari y Chrome */
}
.estilo_div2_reg{
	margin-left: 18%;
	margin-right: 25%;
}
.estilo_div2_log{
	margin-left: 23%;
	margin-right: 35%;
}
.body{
	background-color: #CFDDDC;
	
}
.estilo_div1_index2{
	margin: 0 auto;
	text-align:center; 
}
